<html>
<head>
    <title>{{  inventory.project }}</title>
</head>
<body>
<!--
<h1>{{  inventory.project }}</h1>
//-->

<h2>Index</h2>

<ul>
{%-  for entry in inventory.objects %}
    {%- if entry.domain == "std" and entry.role == "doc" %}
    <li><a href="{{ baseuri }}{{ entry.uri }}">{{ entry.dispname }}</a></li>
    {%- endif %}
{%-  endfor %}
</ul>
</body>
</html>